@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #FFFFFF;
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}


.square {
  background: #50206C;
  border: 1px solid #999;
  font-size: 24px;
  font-weight: bold;
  height: 4em;
  padding: 0;
  width: 4em;
}



.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

#status {
  color: whitesmoke;
  background-color: rgba(41, 37, 37, 0.507);
}

#move {
  background-color: rgb(var(--background-start-rgb));
  border: 2px solid rgb(31 41 55);
  padding: .25em 2em;
  border-radius: 40px;
  margin: .2em .5em;

}

#move:hover {
  background-color: #50206C;

}

#move:first-child {
  margin-bottom: 2rem;
}



@media (max-width: 640px) {
  .board {
    display: flex;
    flex-direction: column;

  }

  .square {
    min-width: max-content;
    min-height: max-content;
  }


}